body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
}

/* header */
.main-header{
    display: flex;
    background: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 16px; 
}

.logo{
    font-weight: bolder;
    font-size: 24px;
    color:#F9FAF8;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
    margin: 0;
    padding: 0;
} 

/* banner */
.banner{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px; 
    
}

.banner img{
    border-radius: 15px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    gap: 8px; 
    padding: 16px;
    justify-content: flex-start;
}

.banner-info{
    font-size: 38px;
    font-weight: bolder;
    color: #F9FAF8;
}

.banner-subtext{
    font-size: 15px;
    color: #E5E7EB;
}

.banner button{
    width: 80px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
}

/* body */
.information{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 16px;
    text-align: center;
}

.information-header{
    align-items: center;
    font-size: 26px;
    font-weight: bolder;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-pic{
    padding: 8px;
    max-width: 200px;
}

.info-pic img{
    border: 5px solid #1F2937;
    border-radius: 15px;
}

/* quote */
.quote{
    background: #E5E7EB;
    margin-top: 32px;
    margin-bottom: 32px;
}

.quote-content{
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 300px;
    margin: 0 auto;
}

.quote-text{
    font-size: 25px;
    color: #1F2937;
    font-style: italic;
    text-align: left;
}

.signature{
    font-weight: 550; 
    text-align: end;
}

/* modal */
.modal{
    background: #3882F6;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 32px; 
}

.modal-header{
    font-weight: bolder;
    font-size: 18px;
    color: #F9FAF8
}

.modal-text{
    color: #E5E7EB;
}

.modal button{
    display: flex;
    margin-right: 32px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 8px;
}

/* general */
a{
    text-decoration-line: none;
    color: #E5E7EB;
    font-size: 18px;
}
